name: Cherry Pick Action

on:
  issue_comment:
    types: [created]

permissions:
  id-token: write # required for GitHub OIDC Federation Service token

jobs:
  cherry-pick:
    if: |
      github.event.issue.pull_request &&
      contains(github.event.comment.body, '/cherry-pick ') &&
      (github.event.comment.author_association == 'OWNER' || github.event.comment.author_association == 'MEMBER') &&
      github.event.comment.user.type == 'User'
    uses: gardener/dashboard/.github/workflows/cherry-pick-reusable.yaml@master
    with:
      pr-number: ${{ github.event.issue.number }}
      comment-body: ${{ github.event.comment.body }}
