name: Prepare Hotfix Branch

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'The tag for which the hotfix should be created'
        required: true
        type: string

permissions:
  id-token: write # required for GitHub OIDC Federation Service token

jobs:
  call-dashboard-workflow:
    uses: gardener/dashboard/.github/workflows/prepare-hotfix-branch.yaml@master
    with:
      tag: ${{ inputs.tag }}
